[Oo]bj/
src/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/license.xml
lib/Sitecore/*
!lib/Sitecore/readme.MD
lib/System/*
!lib/System/readme.MD
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
code/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
code/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
code/bin/Microsoft.Web.Infrastructure.dll
code/bin/Newtonsoft.Json.dll
code/bin/roslyn/csc.exe
code/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
code/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
code/bin/roslyn/Microsoft.CodeAnalysis.dll
code/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
code/bin/roslyn/Microsoft.CSharp.Core.targets
code/bin/roslyn/Microsoft.VisualBasic.Core.targets
code/bin/roslyn/System.Collections.Immutable.dll
code/bin/roslyn/System.Reflection.Metadata.dll
code/bin/roslyn/vbc.exe
code/bin/roslyn/VBCSCompiler.exe
code/bin/roslyn/VBCSCompiler.exe.config
code/bin/Sitecore.Feature.Events.dll
code/bin/Sitecore.Feature.Events.pdb
code/bin/Sitecore.Kernel.dll
code/bin/Sitecore.Mvc.dll
code/bin/System.Web.Helpers.dll
code/bin/System.Web.Helpers.xml
code/bin/System.Web.Mvc.dll
code/bin/System.Web.Mvc.xml
code/bin/System.Web.Razor.dll
code/bin/System.Web.Razor.xml
code/bin/System.Web.Webpages.Deployment.dll
code/bin/System.Web.Webpages.Deployment.xml
code/bin/System.Web.Webpages.dll
code/bin/System.Web.Webpages.Razor.dll
code/bin/System.Web.Webpages.Razor.xml
code/bin/System.Web.Webpages.xml
