<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Group" description="Group content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Feature.Brochure,Project.Common.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sitecore.demo.group.sourceFolder)\project\group\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Sitecore.Demo.Group.Templates" database="master" path="/sitecore/templates/Project/Group" />
            <include name="Sitecore.Demo.Group.Renderings" database="master" path="/sitecore/layout/renderings/Project/Group" />
            <include name="Sitecore.Demo.Group.Layouts" database="master" path="/sitecore/layout/layouts/Project/Group" />
            <include name="Sitecore.Demo.Group.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Group" />

            <include name="Sitecore.Demo.Group.Content" database="master" path="/sitecore/content/Group"/>
            <include name="Sitecore.Demo.Group.Media" database="master" path="/sitecore/media library/Group"/>
            <include name="Sitecore.Demo.Group.Themes" database="master" path="/sitecore/system/Settings/Project/Themes/Group"/>

            <!--            
            <include name="Sitecore.Demo.Group.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Group Persona"/>
            <include name="Sitecore.Demo.Group.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Group"/>
            <include name="Sitecore.Demo.Group.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Group"/>
            <include name="Sitecore.Demo.Group.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Group"/>
            <include name="Sitecore.Demo.Group.CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group/Group"/>
            <include name="Sitecore.Demo.Group.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Group"/>
            <include name="Sitecore.Demo.Group.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Group"/>
            <include name="Sitecore.Demo.Group.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Group"/>
            <include name="Sitecore.Demo.Group.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/Group"/>
            <include name="Sitecore.Demo.Group.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Group"/>

            <include name="Sitecore.Demo.Group.WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Group"/>
            <include name="Sitecore.Demo.Group.Workflow" database="master" path="/sitecore/system/Workflows/Group"/>
            <include name="Sitecore.Demo.Group.Workflow.GroupWorkflow" database="master" path="/sitecore/system/Workflows/Group Workflow"/>
            <include name="Sitecore.Demo.Group.WFFMUserTemplates" database="core" path="/sitecore/templates/Project/Group"/>
            <include name="Sitecore.Demo.Group.WFFMUserSecurityProfile" database="core" path="/sitecore/system/Settings/Security/Profiles/Group"/>
            <include name="Sitecore.Demo.Group.Alias" database="master" path="/sitecore/system/Aliases/Group"/>
-->
          </predicate>
<!--
          <roleDataStore type="Unicorn.Roles.Data.ReverseHierarchyRoleDataStore, Unicorn.Roles" physicalRootPath="$(sitecore.demo.sourceFolder)\project\Group\roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="group" pattern="^Group .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.SerializedUserDataStore, Unicorn.Users" physicalRootPath="$(sitecore.demo.sourceFolder)\project\Group\users" singleInstance="true"/>
          <userPredicate type="Unicorn.Users.Predicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="group" />
          </userPredicate>
-->
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>