$color-primary: blue !default;

$color-secondary: #424C5F !default;
$color-secondary-dark: #2E384E !default;
$color-secondary-light: #4D5668 !default;
$color-secondary-lighter: #586071 !default;
$color-secondary-lightest: #d5d7dc !default;

$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$header-background-color: #fecb00;
$footer-background-color: #fecb00;
$footer-text-color: blue;

$navbar-default-color: $color-primary;
$navbar-default-link-color: $color-primary;
$navbar-default-link-hover-color: $color-primary;
$navbar-default-brand-color: $color-primary;
$navbar-default-brand-hover-color: $color-primary;

$logo-fill: $color-primary;
$navbar-toggle-icon-bar-color: $color-primary;
$navbar-social-icon-color: $color-primary;

$nav-service-link-color: $color-primary;
$nav-service-link-hover-color: $color-primary;